body {
    width: 800px;
    margin: 30px auto;
}

.header {
    float: left;
}
.header + img {
    float: right;
    width: 100px;
    margin-top: 10px;
}
.clear {
    clear: both;
}

.camel {
    color: goldenrod;
}
.ERROR {
    color: red;
}

ul {
    list-style: none;
    padding: 0;
}
.navbar li {
    display: inline;
    padding-right: 10px;
}

span.post-date {
    opacity: 0.7;
    padding-right: 10px;
}
